ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 15px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
